{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block navbar %} {% include 'navbar.html' %} {% endblock %}
{% block about %} {% include 'about.html' %} {% endblock %}
{% block resume %} {% include 'resume.html' %} {% endblock %}
{% block service %} {% include 'service.html' %} {% endblock %}
{% block project %} {% include 'project.html' %} {% endblock %}
<section class="ftco-section" id="blog-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h1 class="big big-2">Blog</h1>
                <h2 class="mb-4">Our Blog</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
        </div>
        <div class="row d-flex">
            {% for blog in blogs %}
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="{% url 'single' blog.pk %}" class="block-20" style="background-image: url({{ blog.image.url }});">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <h3 class="heading"><a href="single.html">{{ blog.title }}</a>
                        </h3>
                        <div class="d-flex align-items-center mb-3 meta">
                            <p class="mb-0">
                                <span class="mr-2">Sept. 12, 2019</span>
                                <a href="#" class="mr-2">Admin</a>
                                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                            </p>
                        </div>
                        <p>{{ blog.text }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--<section class="ftco-section ftco-hireme img" style="background-image: url({% static 'images/bg_1.jpg' %})">-->
<!--    <div class="overlay"></div>-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-md-7 ftco-animate text-center">-->
<!--                <h2>I'm <span>Available</span> for freelancing</h2>-->
<!--                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>-->
<!--                <p class="mb-0"><a href="#" class="btn btn-primary py-3 px-5">Hire me</a></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
{% block contact %} {% include 'contact.html' %} {% endblock %}

{% endblock %}